---
// https://docs.astro.build/en/guides/markdown-content/
import ArticleImage from "@components/ArticleImage.astro";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import { toDateString } from "src/lib/utils";

export async function getStaticPaths() {
  const cmsPosts = await getCollection("cmsPosts");

  return cmsPosts.map(({ id }) => ({
    params: { slug: id },
  }));
}

const { slug } = Astro.params;
const cmsPosts = await getCollection("cmsPosts");
const post = cmsPosts.find((p) => p.id === slug);

if (!post) {
  throw new Error(`Post with id ${slug} not found`);
}
---

<Layout>
  <article set:html={post.rendered?.html}>
    <h1>{post.data.title}</h1>
    <p class="ingress">{post.data.summary}</p>
    <span class="authored-by"
      >Skrevet av {post.data.author}
      <time>{toDateString(post.data.publishedAt)}</time></span
    >
    {
      post.data.mainImageUrl && (
        <ArticleImage
          alt=""
          src={post.data.mainImageUrl}
          caption={post.data.mainImageCaption ?? ""}
        />
      )
    }
  </article>
</Layout>

<style>
  article {
    margin: 0;
    min-width: 500px;

    img {
      width: 100%;
    }
  }

  h1 {
    margin: 0;
    font-size: 4rem;
  }

  .authored-by {
    font-size: 1.25rem;
    color: #666;
  }

  .ingress {
    font-size: 2rem;
    margin-top: 1rem;
  }
</style>
